body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ececea;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.square:focus {
  outline: none;
}


.dark-square {
  background-color: #b2c85d;
}

.light-square {
  background-color: #e4f5cb;
}

.dark-square-2 {
  background-color: #b59963;
}

.light-square-2 {
  background-color: #f0d985;
}
