.signup-card {
  height: 50vh;
  width: 40vw;
  background-color: #262626;
  margin-top: 5%;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}
.container-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #191919;
}

.login-card {
  height: 40vh;
  width: 30vw;
  background-color: #262626;
  margin-top: 5%;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.signup-container {
  height: 100vh;
  width: 100vw;
  background-color: #191919;
  align-items: center;
  justify-content: center;
}

.card-header {
  color: white;
  text-align: center;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.entry {
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: #353535;
  border-radius: 10px 10px 10px 10px;
  height: 5vh;
  color: #ffffff;
}

.field-text {
  padding-right: 30px;
}

.card-entry {
  margin: 3%;
  display: flex;
  height: 6vh;
  justify-content: flex-start;
}

.card-entry h6 {
  color: white;
}

.button-custom {
  margin: 5%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
